@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: "Open Sans", sans-serif;
}

header, nav {
    margin-bottom: 1rem;
}

header, footer {
    background-color: black;
    color: white;
    padding: 1rem;
}

footer {
    text-align: center;
    margin-top: 2rem;
}